/* Estilos para o login */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-box {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.login-logo-container {
    background-color: #6a994e;
    padding: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-logo {
    width: 80px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-bottom: 10px;
}

h2 {
    margin: 0;
    font-size: 1.2em;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.login-input-group {
    margin-bottom: 15px;
    text-align: left;
    position: relative;
}

.login-input-group label {
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

/* Estilos para os campos de entrada com ícones */
.input-with-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon {
    position: absolute;
    left: 10px;
    color: #6a994e; /* Cor do ícone */
    font-size: 1.2rem;
}

.login-input-group input {
    width: 100%;
    padding: 10px 10px 10px 35px; /* Espaçamento para o ícone */
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1em;
}

/* Estilos para o botão */
button {
    padding: 10px;
    background-color: #6a994e;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #527a3e;
}

/* Estilos para a mensagem de erro com ícone */
.login-error-container {
    display: flex;
    align-items: center;
    color: #ff4c4c;
    margin-top: 10px;
    text-align: center;
}

.error-icon {
    margin-right: 8px;
    font-size: 1.2rem;
}

.login-error {
    font-size: 0.9em;
}

/* Adicionar responsividade para a tela pequena */
@media (max-width: 480px) {
    .login-box {
        width: 90%;
        max-width: none;
    }
}
